* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", serif;
}

body {
    background-color: #15131f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

header {
    background-color: #201d2e;
    color: #e1e1e6;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 10px;
    border-radius: 6px;
}

header img {
    width: 200px;
    height: 200px;
    transition: transform 0.2s ease-in-out;
    margin-right: 4rem;
}

header img:hover {
    transform: scale(1.05);
}

header h1 {
    color: #f0f6fc;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

header p {
    color: #8B949E;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

header .text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header .text-content button {
    background-color: #b589d6;
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    color: #201d2e;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

header .text-content button:hover {
    transform: scale(1.05);
    background-color: #c2a0da;
}

nav {
    text-align: center;
    margin: 20px 0;
    padding: 1px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

hr {
    border-color: #b589d6;
    margin: 10px 0;
}

.tab-button {
    padding: 0.5rem 1rem;
    background-color: #201d2e;
    color: #e1e1e6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.tab-button:hover {
    background-color: #2a2639;
}

.tab-button.active {
    background-color: #b589d6;
    color: #201d2e;
}

.tab-content.active::before {
    background-color: #201d2e;
    color: #e1e1e6;
    padding: 2rem;
    border-radius: 6px;

}

.tab-content {
    background-color: #201d2e;
    color: #e1e1e6;
    display: none;
    padding: 20px;
    border: none;
    margin: 10px 0;
    position: relative;
    border-radius: 8px;
}

.tab-content.active {
    display: block;
}

main {
    flex: 1;
    padding: 0 10px;
}

footer {
    background-color: #201d2e;
    color: #e1e1e6;
    padding: 1rem;
    margin: 10px;
    border-radius: 6px;
    text-align: center;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    header img {
        margin-right: 0;
        margin-bottom: 1rem;
        width: 150px;
        height: 150px;
    }

    header .text-content button {
        align-self: center;
    }
}